body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(pexels-maxime-francis-2246476.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 350px;
    height: 420px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(5, 5, 5, 0.5));
    border-radius: 15px;
    box-sizing: border-box;
}

img[alt="user"]{
    position: absolute;
    top: -50px;
    left: 118px;
}
h2{
    color: #fff;
    text-align:center;
    margin-top: 90px;
}
.aa{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #fff;
    top: 140px;
    left: 50px;
}
.bb{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #fff;
    bottom: 153px;
    left: 50px;
}
.e:hover{
    background-color: aqua;

}
.e{
    position: absolute;
    top: 315px;
    left: 105px;
    width: 130;
    height: 49px;
    background-color: #0077ff;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 20px;
    transform: translate(71% , 42%);
    transition: 0.3s;
    
  
}

    p {
        position: absolute;
        top: 280px;
        left: 117px;
        color: white;
    }

    @media only screen and (max-width: 414px) {
        body{
          width: 300px;
          height: 900px;
          background-image: 100%;
        }
      }
      @media only screen and (max-width: 700px) {
        body{
            padding: 0;
          width: 100px;
          height: 900px;
          background-image: 100%;
        }
      }
      @media only screen and (max-width: 1190px) {
        body{
            padding: 0;
          width: 100px;
          height: 900px;
          background-image: 100%;
        }
      }
